*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');

html {
  background: white;
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --r2b-red: #ed1c24;
  --r2b-blue: #0083ca;
  --r2b-blue-light: rgba(0, 131, 202, .4);

  /* fonts  */
  --headingFont: 'Roboto Condensed', Sans-Serif;
  --bodyFont: 'Cabin', Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --textColor: black;
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.capitalize {
  text-transform: capitalize;
}
.r2b-blue {
  color: var(--r2b-blue);
}

.r2b-red {
  color: var(--r2b-red);
}

.black {
  color: black;
}

body {
  background: white;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: black;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

hr {
  height: 5px;
  background: rgb(0,131,202);
  background: linear-gradient(90deg, rgba(0,131,202,1) 0%, rgba(237,28,36,1) 49%, rgba(0,131,202,1) 100%);
  border: none;
  border-radius: 50px 50px 50px 50px;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
  letter-spacing: var(--letterSpacing);
}

a:hover {
  color: var(--r2b-red);
  text-decoration: underline;
}
a,

button {
  line-height: 1.15;
}

button:disabled {
  cursor: not-allowed;
}
ul {
  list-style-type: none;
  padding: 0;
}

select:invalid {
  color: #757575;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.main-dog-container, .dog-div, .cat-div, .sandbox-div, .help-banner-container, .gif-div {
  color: var(--r2b-red);
  text-align: center;
}

.dog-img, .sandbox-img {
  border: 2px solid var(--r2b-blue);
  border-radius: 10px 10px 10px 10px;
  box-shadow: var(--shadow-1);
  margin: 2rem auto;
  height: 40% !important;
  width: 40% !important;
}

.space {
  margin-top: 1rem !important;
}

.space-larger {
  margin-top: 2rem;
}

.space-largest {
  margin-top: 3rem;
}

.border, .border-state {
  border: 1px solid var(--r2b-red);
  border-radius: var(--borderRadius);
  transition: var(--transition);
}

.border:hover, .border-state:hover {
  box-shadow: var(--shadow-4);
}

/* buttons */

.btn, .ais-ClearRefinements-button {
  cursor: pointer;
  color: white;
  background-color: var(--r2b-blue);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover, .ais-ClearRefinements-button:hover {
  background: var(--r2b-red);
  color: white;
  box-shadow: var(--shadow-3);
  transform: translateY(-0.25rem);
  transition: .5s ease-in-out;
}

.back-btn {
  color: var(--r2b-blue);
  margin: auto;
  width: 35px !important;
  height: 35px !important;
}

.confirm-btns {
  display: flex;
  justify-content: flex-end;
}

.no-cap {
  text-transform: none !important;
}

.btn-block {
  width: 100%;
}
.btn-hero {
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem;
}
.details-btn {
  background: #f2e5ff;
  color: #480071;
  cursor: pointer;
  border: none;
}
.no-margin {
  margin: 0 !important;
}
.details-btn:hover {
  background: #480071;
  color: #f2e5ff;
}
.btn-success {
  background: var(--green-light);
  color: var(--green-dark);
  cursor: pointer;
  border: none;
}
.btn-success:hover {
  background: var(--green-dark);
  color: var(--green-light);
}
.btn-danger {
  background: var(--red-light);
  color: var(--red-dark);
  border: none;
  cursor: pointer;
}
.btn-danger:hover {
  background: var(--red-dark);
  color: var(--red-light);
}
.btn-success, .btn-danger {
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  margin: .5rem;
}
.btn-success:hover, .btn-danger:hover {
  box-shadow: var(--shadow-3);
  transform: translateY(-0.25rem);
  transition: .5s ease-in-out;
}

.height {
  width: 20%;
  height: 2rem;
}
/* alerts */
.alert, .modal-header {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
  text-align: center;
  letter-spacing: var(--letterSpacing);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form, .ais-SearchBox-form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: var(--transition);
}

.form:hover, .ais-SearchBox-form:hover, .search-container:hover {
  box-shadow: var(--shadow-4);
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea,
.form-select,
  .ais-SearchBox-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  border: 1px solid black;
}
.form-input,
.form-select,
.btn-block,
.close-btn,
  .ais-SearchBox-input {
  height: 35px;
  width: 100%;
}
.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.grid {
  display: grid !important;
  grid-template-columns: auto auto;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.less-filter {
  margin-bottom: .5rem;
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--r2b-red);
  border-radius: 50%;
  border-top-color: var(--r2b-blue);
  animation: spinner 2s linear infinite;
}
.loading-center {
  margin: 0 auto;
}
/* title */

.title {
  text-align: center;
}

.title-underline {
  background: black;
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

.space-top {
  padding-top: 1.5rem;
}

.margin-top-bottom {
  margin: 1rem auto;
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}
.full-page {
  min-height: 100vh;
}

.inline {
  display: inline !important;
}

.center {
  text-align: center;
}

.margin-right: {
  margin-right: 1rem !important;
}

/* algolia */

.ais-SearchBox-form {
  background: white;
  display: flex;
  justify-content: space-between;
}

.ais-Stats-text {
  color: black;
  font-size: 1.25rem;
}

.ais-RefinementList {
  display: flex;
  margin: 0 !important;
}

.ais-RefinementList-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.ais-RefinementList-labelText {
  margin-left: 1rem;
}

.ais-Hits {
  color: black;
}

.ais-Hits-list {
  display: block;
  margin-top: 1rem;
  width: 100%;
}
.ais-Hits-item {
  border: none;
  display: grid;
  margin: 3rem 0;
  grid-template-columns: 1fr;
  box-shadow: none;
  width: 100%;
}

.ais-RangeInput-separator {
  margin: 0 .5rem;
}

.ais-RangeInput-submit, .ais-SearchBox-submit {
  margin: 0 .5rem;
}

.ais-ClearRefinements-button {
  font-size: 1rem;
  max-width: 25%;
  margin: 1rem 0;
}

.ais-ClearRefinements-button--disabled {
  background: rgba(0, 131, 202, 1) !important;
  color: white !important;
  cursor: not-allowed !important;
}

.ais-RefinementList-label, .ais-RefinementList-count {
  color: black;
}

.ais-SearchBox-input:focus {
  border: 1px solid var(--r2b-blue);
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.skills-filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.filter-children: {
  display: flex;
  flex-direction: column;
}

input[type=checkbox]:checked {
  border: 1px solid var(--r2b-blue);
  color: var(--r2b-blue);
}

.ais-RefinementList-count, .ais-RefinementList-checkbox {
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
}

.ais-Pagination-list > li {
  font-size: 1.25rem;
  padding: 0 0.25rem;
}

.ais-Pagination-list {
  border-radius: var(--borderRadius);
  justify-content: center;
  display: flex;
  list-style: none;
}
.ais-Pagination-list > li {
  background-color: var(--r2b-blue);
  border-radius: var(--borderRadius);
  color: #fff !important;
  text-align: center;
  outline: none;
  cursor: pointer;
  margin: .3rem;
  width: 2rem;
}

.ais-Pagination-link--selected {
  color: #fff;
}

.ais-Pagination-link {
  color: #fff !important;
}

.ais-Pagination-item--selected {
  background-color: var(--r2b-red) !important;
}

.search-container {
  max-width: 100%;
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: var(--transition);
}

.filter-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right {
  padding-right: 1rem;
}

.left {
  padding-left: 1rem;
}

.search-container-child {
  background: var(--r2b-blue-light);
  border-color: transparent;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  margin-bottom: 1.5rem;
  padding: 1.5rem 0 2.25rem 0;
  transition: var(--transition);
  z-index: 100;
}

.search-input-container {
  align-items: center;
  background: white;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  width: 50%;
}

.input-container-child {
  display: flex;
  width: 100%;
}

.padding {
  padding: 1rem;
}

.clear-btn {
  width: 50%;
}

@media (min-width: 768px) {
  .ais-RefinementList-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .ais-RefinementList-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
